
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="fw-bold">Personal Independence Payment</h1>
            <h4>How your disability affects you</h4>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <h2>Information Booklet</h2>
            <hr>
            <p class="fw-bold">This information booklet will help you
                fill in your Personal Independence Payment (PIP)
                form.</p>
            <p>In it we:</p>
            <ul>
                <li>Explain the questions we ask</li>
                <li>Help you answer the questions</li>
                <li>Give you examples of other things you can tell
                    us</li>
                <li>Explain the supporting evidence you can send us</li>
                <li>Tell you what you need to do next</li>
            </ul>
        </div>
    </div>
</div>
<!-- <----------------------------------------------------------------------------------------aa> -->
<div class="container mt-4">
    <h2 class="fw-bold">Before you fill in the form</h2>
    <p>It is useful to have the things listed below. Do not worry if you
        only have some of them:</p>
    <ul>
        <li>The names and contact details of professionals who regularly
            support you</li>
        <li>Details of your medication or an up-to-date printed
            prescription list</li>
        <li>Supporting evidence that helps us understand your needs,
            shows how you carry out activities and how these activities
            are affected by your health condition or disability</li>
    </ul>

    <h3 class="fw-bold">Evidence to support your claim</h3>
    <p>Examples of the things you could send to us are shown on page 4.
        There is also an online DWP video you might find helpful. To
        find it, go to YouTube and search ‘PIP providing information to
        support your claim’. Scroll down the list of results and select
        the official DWP video.</p>
    <p>We understand that it can take a while to collect this evidence,
        so we suggest you start collecting it before filling out your
        form. But it is important to make sure you return your form on
        time. If you are waiting for any supporting evidence, send us
        what you already have along with your completed form before the
        date on the front of your form.</p>
    <p>You can send any more supporting evidence you get afterwards to
        the address on the covering letter. When you get it, send a
        photocopy of it to us straight away. Write your reference number
        on it so we can link it to your claim.</p>

    <h4 class="fw-bold">Question 15 – Additional information.</h4>
    <p>Sending us evidence to support your claim may mean:</p>
    <ul>
        <li>We can make a decision on your claim more quickly</li>
        <li>We can make an accurate decision on your claim and give you
            the right level of support</li>
        <li>An assessment with a health professional may not be
            needed</li>
    </ul>

    <h3 class="fw-bold">What to send</h3>
    <p>Only send us:</p>
    <ul>
        <li>Information about how your health condition or disability
            affects your daily life</li>
        <li>Documents you already have available to you, unless you do
            not already have reports, statements or diaries from carers
            or family members</li>
        <li>Photocopies as we cannot return documents</li>
    </ul>
    <p>Write your full name and reference number on the top of each
        photocopy you send to us.</p>
</div>
<div class="container mt-5">
    <h2 class="fw-bold">What you could send</h2>
    <p>Reports or care or treatment plans from:</p>
    <ul>
        <li>occupational therapists</li>
        <li>GPs or consultants</li>
        <li>social workers</li>
        <li>community psychiatric nurses</li>
        <li>learning disability support teams</li>
        <li>district nurses</li>
        <li>physiotherapists</li>
        <li>reports, statements or diaries from carers or family
            members</li>
        <li>hospital discharge or outpatient clinic letters about your
            condition or diagnosis</li>
        <li>letters from your consultant(s) about your condition or
            diagnosis</li>
    </ul>
    <h4>Test results from:</h4>
    <ul>
        <li>scans</li>
        <li>diagnostic tests</li>
        <li>hearing or vision tests</li>
    </ul>
    <h4>Other:</h4>
    <ul>
        <li>your current repeat prescription list</li>
        <li>statement of special educational needs, Education, Health
            and Care (EHC) plan</li>
        <li>certificate of visual impairment</li>
    </ul>
    <h3 class="fw-bold">What NOT to send</h3>
    <ul>
        <li>appointment cards or letters</li>
        <li>letters arranging hospital admissions</li>
        <li>general information or fact sheets about your condition</li>
        <li>fact sheets about your medication</li>
        <li>information about tests you are going to have</li>
        <li>bus tickets</li>
        <li>train tickets</li>
        <li>directions or maps for appointments you have attended</li>
    </ul>
</div>

<div class="container mt-5">
    <h1 class="fw-bold">Filling in this form</h1>
    <p>Please use a pen to fill in the form.</p>
    <p>The form is in 4 sections:</p>
    <ul>
        <li><strong>Section 1</strong> – About your health condition or
            disability</li>
        <li><strong>Section 2</strong> – About your health
            professionals</li>
        <li><strong>Section 3</strong> – How your health condition or
            disability affects your day-to-day life</li>
        <li><strong>Section 4</strong> – What happens next</li>
    </ul>

    <p>We know that talking about your personal needs can be difficult,
        but we need you to tell us as much as you can on the form.</p>
    <p>Please read the information carefully and take time to answer all
        the questions. <strong>You do not have to fill in the form in
            one go.</strong></p>

    <h3 class="fw-bold">If you need help</h3>
    <p>If you think you will need help to prepare for and fill in this
        PIP claim form, you may want to ask a friend, relative, carer or
        local support worker to read this information booklet. You can
        then talk about how much and what sort of help you need.</p>
    <p>If you need help filling in any part of this form or need more
        time to complete the form, you can phone <strong>0800 121
            4433</strong> (0800 121 4493 if using a textphone).</p>

    <h3 class="fw-bold">When filling in the form remember:</h3>
    <ul>
        <li>there is no right or wrong way of answering the
            questions</li>
        <li>it does not matter if words are spelt wrong</li>
        <li>you do not have to fill all of the space provided</li>
    </ul>

    <h3 class="fw-bold">Additional space</h3>
    <p>If you need more space, use the <strong>Question 15</strong> –
        <strong>Additional information</strong> section.</p>
    <p>If you need even more space, you can use separate pieces of
        paper. Remember to send them to us with this form.</p>
    <p>If you do this, write your name and reference number at the top
        of each extra page. You can find your reference number at the
        top of the letter that came with the form (the reference number
        is usually the same as your National Insurance number). Tell us
        which questions your comments refer to.</p>
</div>

<div class="container mt-5">
    <h2 class="fw-bold">If you are filling in this form for someone else
        or helping them</h2>
    <p>If you are filling in some or all of the form because the person
        claiming PIP is not capable of answering for themselves, you can
        tell us about their needs and the help you give them from your
        point of view.</p>
    <p>For example: ‘Alex always has difficulty cooking safely by
        himself as he forgets if the hob is on’.</p>
    <p>For example: ‘As his carer, I help Alex by supervising him while
        he cooks and prompting him if he forgets something’.</p>
    <p>This can be as well as or instead of the claimant giving the
        information themselves.</p>

    <h3 class="fw-bold">If the person claiming PIP is capable of
        answering for themselves, but needs someone else to physically
        put the answers onto the form</h3>
    <p>If the person claiming PIP needs help to physically put their
        answers onto the form, for example due to a visual or physical
        impairment, they can answer from their own point of view.</p>
    <p>For example, ‘I always have difficulty cooking by myself as I
        cannot safely cut up ingredients or lift pans because of my
        severe arthritis’.</p>

    <h3 class="fw-bold">IMPORTANT – the person claiming needs to sign
        the Declaration on Page 17 themselves, unless:</h3>
    <ul>
        <li>you have already been appointed to receive and deal with
            their benefits. For example, you are a benefit appointee
            (appointed by DWP), a Deputy or Receiver, or have a Power of
            Attorney, or</li>
        <li>they are too ill or disabled to sign for themselves</li>
    </ul>
    <p>If either of the above applies then you must sign the Declaration
        on their behalf.</p>

    <h2 class="fw-bold">Section 1 – About your health condition or
        disability</h2>
    <p>This section is split into 3 parts:</p>
    <ul>
        <li>Question 1a – we need to know about your health condition or
            disability</li>
        <li>Question 1b – we need to know about any tablets, medication
            and any side effects they have on you</li>
        <li>Question 1c – we need to know about any treatment you have
            had, currently have or have planned for the future</li>
    </ul>

    <div class="container mt-5">
        <h2 class="fw-bold">What you could send</h2>
        <p>Reports or care or treatment plans from:</p>
        <ul>
            <li>occupational therapists</li>
            <li>GPs or consultants</li>
            <li>social workers</li>
            <li>community psychiatric nurses</li>
            <li>learning disability support teams</li>
            <li>district nurses</li>
            <li>physiotherapists</li>
            <li>reports, statements or diaries from carers or family
                members</li>
            <li>hospital discharge or outpatient clinic letters about
                your condition or diagnosis</li>
            <li>letters from your consultant(s) about your condition or
                diagnosis</li>
        </ul>
        <h4>Test results from:</h4>
        <ul>
            <li>scans</li>
            <li>diagnostic tests</li>
            <li>hearing or vision tests</li>
        </ul>
        <h4>Other:</h4>
        <ul>
            <li>your current repeat prescription list</li>
            <li>statement of special educational needs, Education,
                Health and Care (EHC) plan</li>
            <li>certificate of visual impairment</li>
        </ul>
        <h3 class="fw-bold">What NOT to send</h3>
        <ul>
            <li>appointment cards or letters</li>
            <li>letters arranging hospital admissions</li>
            <li>general information or fact sheets about your
                condition</li>
            <li>fact sheets about your medication</li>
            <li>information about tests you are going to have</li>
            <li>bus tickets</li>
            <li>train tickets</li>
            <li>directions or maps for appointments you have
                attended</li>
        </ul>
    </div>
</div>

<div class="container mt-5">
    <h1 class="fw-bold">Section 2 – About your health professionals</h1>
    <p>We ask you to send us supporting evidence with your form, but
        sometimes we may contact the health professionals who support
        you for further information.</p>
    <p>Please tell us about the health professionals who treat or care
        for you most regularly and who are best placed to advise us on
        how your health condition or disability affects you.</p>
    <p>For example, a GP, hospital doctor, specialist nurse, community
        psychiatric nurse, occupational therapist, physiotherapist,
        social worker, counsellor or support worker.</p>
    <p>You can list details of up to 3 health professionals. If you need
        to add more, use the extra space at <strong>Question
            15</strong>.</p>

    <h2 class="fw-bold">Section 3 – How your health condition or
        disability affects your day-to-day life</h2>
    <p>PIP is assessed on how your condition affects you, not the
        condition itself.</p>
    <p>Please tell us if your health condition or disability means you
        have had difficulties with daily living or getting around for at
        least 3 months and this is expected to continue for at least a
        further 9 months.</p>
    <p>If your needs change regularly, please make sure you tell us
        about this on the form. These changes will be fully considered
        during your claim.</p>
    <p>We use the information to see how much help you need to carry out
        12 activities.</p>
    <p>There are <strong>10 activities for the daily living part of
            PIP</strong> and <strong>2 for the mobility part</strong>. A
        score is given for each and we add these together to give us a
        total for each part.</p>
    <p>We have given examples throughout the form to help you think
        about how different conditions, not just physical ones, may
        affect you. They also help you think about what help you may
        need.</p>

    <h3 class="fw-bold">Daily living activities:</h3>
    <ul>
        <li>preparing food</li>
        <li>eating and drinking</li>
        <li>managing your treatments</li>
        <li>washing and bathing</li>
        <li>using the toilet and managing incontinence</li>
        <li>dressing and undressing</li>
        <li>talking, listening and understanding</li>
        <li>reading</li>
        <li>mixing with other people</li>
        <li>managing money</li>
    </ul>
</div>
<div class="container mt-5">
    <h2 class="fw-bold">Mobility activities:</h2>
    <ul>
        <li>planning and following a journey</li>
        <li>moving around</li>
    </ul>
    <p>To help us understand your needs, tell us about the difficulty
        you have with each activity and how this relates to your
        condition.</p>
    <p>Can you complete each activity:</p>
    <ul>
        <li>safely</li>
        <li>within an acceptable time, for example, about twice the time
            it may take another person who does not have a
            disability</li>
        <li>to an acceptable standard</li>
        <li>as often as you need to</li>
    </ul>
    <p>Tell us:</p>
    <ul>
        <li>what the difficulty is</li>
        <li>how often you have good days and bad days</li>
        <li>how or why your condition varies over the course of a day,
            week or year</li>
        <li>when you started to have difficulties</li>
    </ul>
    <p>Tell us how you manage each activity, including any:</p>
    <ul>
        <li>aids or specialist equipment you use, for example, like a
            perching stool or a dosette box</li>
        <li>help you get from someone else, for example, do they help
            you physically, prompt or encourage you?</li>
        <li>help you need but do not get, for example, like with
            dressing or undressing</li>
    </ul>

    <h2 class="fw-bold">Daily living activities</h2>
    <p>Tell us how your health conditions or disabilities affect you for
        each of the daily living activities, put a cross in either
        <strong>No or Yes</strong>. If you answer <strong>Yes</strong>,
        please tell us about the difficulties you face and help you
        need.</p>
</div>
<div class="container mt-5">
    <h1 class="fw-bold">Question 3 – Preparing food</h1>
    <p>This question is about your ability to prepare and cook a simple
        one course meal for one from fresh ingredients. This includes
        things like:</p>
    <ul>
        <li>food preparation such as peeling, chopping or opening a can,
            and</li>
        <li>safely cooking or heating food at or above waist height on a
            cooker hob or in a microwave oven</li>
    </ul>
    <p>Aids and appliances for this activity might include things like
        prostheses, a perching stool, spiked chopping boards, liquid
        level indicators and adapted cutlery.</p>
    <p>Help for this activity might include someone:</p>
    <ul>
        <li>physically assisting you to prepare or cook food or doing it
            for you</li>
        <li>supervising you to make sure you are safe</li>
        <li>prompting, encouraging or reminding you to cook food or how
            to do so</li>
    </ul>

    <h1 class="fw-bold">Question 4 – Eating and drinking</h1>
    <p>This question is about your ability to eat and drink, including
        your ability to cut food into pieces, get food and drink to your
        mouth, chew food and swallow. It includes the use of therapeutic
        sources such as tube feeding. A feeding tube could be a
        parenteral or enteral tube feeding with a rate limiting device
        such as a delivery system or feed pump.</p>
    <p>Help for this activity might include someone:</p>
    <ul>
        <li>reminding you when to eat</li>
        <li>cutting your food into pieces or putting food in your
            mouth</li>
        <li>supervising you to make sure you finish eating</li>
        <li>prompting, encouraging or reminding you to eat or drink</li>
        <li>helping you manage a feeding tube</li>
    </ul>

    <h1 class="fw-bold">Question 5 – Managing your treatments</h1>
    <p>This question is about your ability to monitor any health
        conditions, manage medication and manage treatments.</p>
    <p><strong>Monitor health conditions</strong> means being able to
        detect any changes in a condition and take necessary actions as
        advised by a health professional. For example, this includes
        being able to monitor blood sugar levels, mental state and pain
        levels.</p>
    <p><strong>Manage medication</strong> means to take regular
        medication prescribed or advised by a doctor, nurse or
        pharmacist in the right way at the right time. This includes
        tablets, inhalers and creams.</p>
    <p><strong>Home treatments</strong> include things like
        physiotherapy and home dialysis, regardless of whether these are
        NHS or private.</p>
</div>
<div class="container mt-5">
    <h1 class="fw-bold">Question 5 – Managing your treatments</h1>
    <p>Aids and appliances for this activity might include things like a
        dosette box for tablets or an alarm or reminders.</p>
    <p>Help for this activity might include someone:</p>
    <ul>
        <li>prompting or reminding you to take medication or how to do
            it</li>
        <li>supervising you while you take medication</li>
        <li>physically helping you to take medication or manage a
            treatment</li>
        <li>monitoring a health condition like diabetes</li>
    </ul>

    <h1 class="fw-bold">Question 6 – Washing and bathing</h1>
    <p>This question is about your ability to wash and bathe. Wash
        includes washing your body, face, limbs, underarms and hair.
        Bathe means getting into and out of both a normal bath and a
        normal shower. Aids and appliances for this activity include
        things like shower seats and grab rails.</p>
    <p>Help for this activity might include someone:</p>
    <ul>
        <li>prompting, encouraging or reminding you to wash and bathe
            yourself or how to do it</li>
        <li>supervising you to make sure you are safe</li>
        <li>physically washing or bathing you</li>
    </ul>
    <p>We know that talking about your personal needs can be difficult,
        but we need you to tell us as much as you can on the form.</p>

    <h1 class="fw-bold">Question 7 – Using the toilet and managing
        incontinence</h1>
    <p>This question is about your ability to manage your toilet needs,
        including:</p>
    <ul>
        <li>getting on or off a normal toilet</li>
        <li>emptying your bladder or bowels</li>
        <li>dealing with incontinence, including using a collecting
            device like a stoma bag or catheter</li>
        <li>cleaning yourself afterwards</li>
    </ul>
    <p>Aids and appliances for this activity might include things like
        raised toilet seats, bottom wipers, commodes, bidets and
        incontinence pads.</p>
    <p>Help for this activity might include someone:</p>
    <ul>
        <li>physically helping you to get on and off the toilet</li>
        <li>supervising that you clean yourself properly</li>
    </ul>
    <p>We know that talking about your personal needs can be difficult,
        but we need you to tell us as much as you can on the form.</p>
</div>
<div class="container mt-5">
    <h1 class="fw-bold">Question 8 – Dressing and undressing</h1>
    <p>This question is about your ability to dress and undress,
        including selecting, putting on and taking off appropriate and
        unadapted clothing, which may include fastenings such as zips or
        buttons. This includes putting on and taking off socks and
        shoes.</p>
    <p>Aids and appliances for this activity might include things like
        long-handled shoehorns, button hooks, zip pulls or sock aids,
        modified buttons, front fastening bra, Velcro fastenings and
        shoe aids.</p>
    <p>Help for this activity might include someone:</p>
    <ul>
        <li>physically helping you</li>
        <li>selecting clothes for you, and</li>
        <li>prompting or reminding you when to dress and undress</li>
    </ul>

    <h1 class="fw-bold">Question 9 – Talking, listening and
        understanding</h1>
    <p>This question is about your ability to communicate with others in
        your native spoken language.</p>
    <p>This means your ability to speak to people and hear and
        understand what they are saying to you.</p>
    <p>Aids and appliances for this activity might include hearing aids,
        picture symbols, assistive computer technology or voice
        aids.</p>
    <p>Help for this activity might include someone:</p>
    <ul>
        <li>prompting or encouraging you to communicate</li>
        <li>interpreting speech into sign language for you</li>
        <li>telling you what someone is saying, what it means or
            speaking on your behalf</li>
    </ul>

    <h1 class="fw-bold">Question 10 – Reading</h1>
    <p>This question is about your ability to read and understand signs,
        symbols and words written or printed in your native written
        language. If you access information using braille, please tell
        us about that in this section.</p>
    <p>Aids and appliances for this activity might include magnifiers,
        but do not include normal spectacles or contact lenses.</p>
    <p>Help for this activity might include someone:</p>
    <ul>
        <li>helping you to understand the meaning of signs, symbols or
            words</li>
        <li>prompting you about the meaning of simple information</li>
    </ul>

    <h1 class="fw-bold">Question 11 – Mixing with other people</h1>
    <p>This question is about how well you understand what is going on
        and how you react when meeting and mixing with other people.
        This includes whether you become aggressive due to frustration,
        or whether severe anxiety or stress prevents you from mixing
        with people.</p>
    <p>Help for this activity might include someone:</p>
    <ul>
        <li>prompting or encouraging you to do so</li>
        <li>being there to support or reassure you</li>
        <li>helping you keep calm if you become frustrated or aggressive
            whilst mixing with people</li>
    </ul>

</div>

<div class="container mt-5">
    <h1 class="fw-bold">Question 12 – Managing money</h1>
    <p>This question is about your ability to make decisions about
        spending and managing your money.</p>
    <p>This includes being able to understand how much things cost, how
        much change you should get in a shop, managing your own budgets,
        paying bills and planning future purchases. It looks only at
        your decision making ability, not the physical elements such as
        going to a post box to send a bill payment or putting money in a
        purse or wallet.</p>
    <p>Help for this activity might include someone:</p>
    <ul>
        <li>prompting or encouraging you</li>
        <li>reminding you to do it or how to do it</li>
        <li>doing it for you</li>
    </ul>

    <h1 class="fw-bold">Mobility activities</h1>
    <p>Tell us how your health conditions or disabilities affect you for
        both of the mobility activities, put a cross in either No or
        Yes. If you answer Yes, please tell us about the difficulties
        you face and help you need.</p>

    <h1 class="fw-bold">Question 13 – Planning and following a
        journey</h1>
    <p>This question is about your ability to work out and follow a
        route to another place, including using public transport, and if
        severe anxiety or distress prevents you from being able to go
        out and complete a journey. It does not look at your physical
        ability to get around, which is covered in the next section.</p>
    <p>Help for this activity might include someone:</p>
    <ul>
        <li>to help you plan a route or plan it for you</li>
        <li>to prompt or encourage you to avoid severe anxiety or
            distress when going out</li>
        <li>to be with you when going out to reassure you</li>
        <li>to be with you when going out to help you to follow and
            complete a journey, including to help overcome severe
            anxiety and distress</li>
        <li>to be with you when going out to keep you safe or stop you
            getting lost</li>
        <li>to help you deal with public transport or unexpected
            circumstances</li>
    </ul>
    <p>We also want to know if you need a guide dog to safely follow a
        route, or an aid such as a long cane.</p>
</div>
<div class="container mt-5">
    <h1 class="fw-bold">Question 14 – Moving around</h1>
    <p>This question is about your ability to stand and physically move
        around. We want to know how far you can walk and if you use
        aids, appliances and devices to get around, including walking
        sticks, frames or prostheses and devices such as wheelchairs and
        mobility scooters. Tell us how long it takes, how well or often
        you complete this activity and if it causes pain,
        breathlessness, tiredness or dizziness.</p>

    <h2 class="fw-bold">Section 4 – What happens next</h2>
    <p>When we receive your form, we may invite you to attend an
        assessment with a health professional.</p>
    <p>This will give you the chance to tell us more about how your
        health condition or disability affects your daily life.</p>
    <p>There are some online DWP videos you might find helpful. To find
        them, go to YouTube and search ‘Understanding PIP’. Scroll down
        the list of results and select the official DWP videos.</p>
    <p>If we invite you to an assessment, <strong>you must
            attend.</strong> If you do not attend and you do not have
        good reason, your PIP claim will end. If you currently get
        Disability Living Allowance this will stop.</p>
    <p>However, if you have given us enough supporting evidence, an
        assessment may not be needed. We may call you if we have got any
        questions about this form. The number may show as withheld,
        unrecognised or may start <strong>0800.</strong></p>

    <h2 class="fw-bold">Final checklist</h2>
    <p>Use the final checklist at the end of the form before you return
        your form to us. If you can tick all the questions in the
        checklist, your form should be ready to send back.</p>
    <p>You will find the address to send the form back to on the last
        page.</p>
    <p>Remember to tear off the letter and notes on the front of the
        form and keep them safe. If you need to send more supporting
        evidence later, the letter has the address you need to send it
        to and the reference number for your claim (the reference number
        is usually the same as your National Insurance number).</p>
    <p>Place the form and photocopies of the supporting evidence you
        already have in the envelope provided, so the address shows
        through the window. It does not need a stamp.</p>
    <p>We advise you make a copy of the form and your supporting
        evidence for future reference before you send it back.</p>
</div>