
<div class="container mt-5">
    <h1 class="fw-bold">Personal Independence Payment</h1>
    <h2>How your disability affects you</h2>

    <h3 class="fw-bold">Full name</h3>
    <p><strong>National Insurance (NI) number</strong></p>

    <h3 class="fw-bold">Please fill in this form and return it to us by
        the date on your letter.</h3>
    <p>If you do not return this form to us by this date, we may end
        your PIP claim. If you need to ask for more time to complete
        this form, please call us on <strong>0800 121 4433</strong>
        (0800 121 4493 if using a textphone).</p>
    <p>If you do not want to continue with your PIP claim and will not
        be returning this form, please call us on <strong>0800 121
            4433</strong> (0800 121 4493 if using a textphone).</p>

    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="fw-bold">Personal Independence Payment</h1>
            <h4>How your disability affects you</h4>
        </div>
    </div>
    <hr>
    <ol>

        <p>In it we:</p>
        <ul>
            <li>explain the questions we ask</li>
            <li>help you answer the questions</li>
            <li>give you examples of other things you can tell us</li>
            <li>explain the supporting evidence you can send us</li>
            <li>tell you what you need to do next</li>
        </ul>
        <li>Start collecting any supporting evidence you want to send
            us</li>
        <li>Tear off the letter that came with this form and keep it
            safe</li>
        <li>Sign the Declaration</li>
        <li>Answer the questions</li>
        <ul>
            <li>use a pen</li>
            <li>take your time – you do not have to complete the form in
                one go</li>
            <li>use <strong>Question 15 – Additional
                    information</strong> section on page 47 if you run
                out of space on any question, tell us which question you
                are answering</li>
            <li>remember you can ask a friend, relative, carer or a
                local support organisation to help you complete it</li>
        </ul>
    </ol>
</div>
<app-questions></app-questions>